<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
	<string>cApp</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>org.wxwindows.samples.pdm</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>de</string>
		<string>en</string>
		<string>fr</string>
		<string>it</string>
	</array>
	<key>CFBundleExecutable</key>
	<string>pdm</string>
	<key>CFBundleIconFile</key>
	<string>logo.icns</string>
	<key>CFBundleName</key>
	<string>pdm</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3.1.5</string>
	<key>CFBundleShortVersionString</key>
	<string>3.1.5</string>
	<key>CFBundleGetInfoString</key>
	<string>pdm version 0.1.0, (c) 2021 Yi Yang</string>
	<key>CFBundleLongVersionString</key>
	<string>0.1.0, (c) 2021 YiYang</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2021 YiYang</string>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>ATSApplicationFontsPath</key>
	<string>Fonts</string>
</dict>
</plist>
